table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}

th {text-align: left;}

.upBlock {
  
    width: 100%;
    float: left;
    margin: 10px;
   
}

#header {
      width: 100%;
    height: 100px;
}